html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  position: relative;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#camera {
  -webkit-app-region: drag;
  cursor: -webkit-grab;
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 1s;
  opacity: 1;
}

#camera.hidden {
  opacity: 0;
}

form {
  position: absolute;
  top: 20px;
  right: 20px;
  /* height: 60%; */
  width: 50%;
  background: #F2F2F2;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  
}

div.input {
  padding: .7rem 0;
  border-bottom: 1px solid #ccc;
}

div.input:last-child {
  border-bottom: none;
}
label {
  display: inline-block;
  width: 30%;
}

input[type="range"] {
  width: 60%;
}