html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #F2F2F2;
  position: relative;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
}
#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#camera {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 1s;
  opacity: 1;
}

#camera.hidden {
  opacity: 0;
}

.theme0 {
}

.theme1 {
  filter: grayscale(1);
}

.theme2 {
  filter: grayscale(1) saturate(1) contrast(3);
}

.theme3 {
  filter: saturate(3) contrast(3);
}